##################################################

ensure oxmysql
ensure Framework
ensure Koy
ensure weapons-on-back
ensure bob74_ipl
ensure pma-voice

##################################################

ensure [Core]
ensure [GameMode]
ensure [Shyroz]
ensure [Stream]
ensure Gamemode

##################################################

ensure pmms
exec @pmms/permissions.cfg
ensure httpmanager


##################################################