endpoint_add_tcp "0.0.0.0:30152"
endpoint_add_udp "0.0.0.0:30152"

set sv_enforceGameBuild 3095
set mysql_connection_string "server=localhost;uid=root;database=noxa;password="
set mysql_debug_output "console"
set mysql_slow_query_warning 1000

set sv_requestParanoia 3
sv_endpointprivacy true
sv_forceIndirectListing true
sv_useDirectListing true
sv_authMinTrust 4

set steam_webApiKey ""
sv_licenseKey "cfxk_1sqGh3ikMPI0HDSltNq8R_3KnvIy" 
set sv_tebexSecret ""

#color #0055ff 
#color rgba 0, 85, 255
#color ~b~

onesync_enabled 1
set onesync_enabled 1
set onesync_forcePopulation true
set onesync_enableInfinity 1
set onesync_enableInfinity true
set onesync_enable 1
set onesync_forceMigration true
set onesync_workaround763185 true
set onesync_distanceCulling true
set onesync_enableBeyond 1
set onesync_distanceCullVehicles true

sv_scriptHookAllowed 0
sv_maxclients 5

exec "resources.cfg"

setr sv_type "FA"
sets sv_projectName "WISEFA ➔ COMEBACK ➔ FREE-ACCESS"
sets sv_projectDesc "Réouverture prochaine"
sv_hostname "^4[FR]^0 WISEFA ^4||^0 Free-Access ^4||^0 Rp Serieux ^4||^0 Comeback ^4||^0 DISCORD.GG/WISEFA ^4||^0"

sets locale "fr-FR"
sets Site ""
sets Développeur "Kay"
sets Discord "discord.gg/noxafa"
sets tags "rp, roleplay, new, wise, life, fa, fr, flashfa, france, exlu, rageui, inventaire, tab, afkfarm, gang, flashback, unity, us, serveurrp, esx, imports, serious, drogue, roleplay, baylife, freeaccess, staffserieux, public, event, koth, jobs, cops, vanilla, mafia, drifting, police, cars, ems, fun, racing, wl, custom"


load_server_icon "logo.png"
sets banner_detail "https://i.goopics.net/txr9gc.gif"
sets banner_connecting "https://i.goopics.net/txr9gc.gif"

setr voice_useNativeAudio true
setr voice_enableSubmix 1
setr voice_enableUi 1
setr voice_enableRadioAnim 1
setr voice_syncData 1
setr voice_useSendingRangeOnly true
setr voice_defaultRadioVolume 50

add_ace group.founder command.muteply allow
add_ace group.admin command.lbphone_admin allow
ensure pmms
exec @pmms/permissions.cfg
ensure httpmanager