.top-buttons-center-part {
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	left: 50%;
	bottom: 2vw;
	transform: translateX(-50%);
	gap: 0.1vw;
	width: auto;
	height: auto;
	z-index: 1200;
}

.top-button-utilize {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 5vw;
	height: 3.094vw;
	margin-left: 0vw;
	margin-top: 0;
}
.top-button-utilize span:nth-child(1) { font-size: 0.625vw; }

.top-button-give {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 5vw;
	height: 3.094vw;
	margin-left: 0vw;
	margin-top: 0;
}
.top-button-give span:nth-child(1) { font-size: 0.625vw; }

.top-button-rename {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 5vw;
	height: 3.094vw;
	margin-left: 0vw;
	margin-top: 0;
}
.top-button-rename span:nth-child(1) { font-size: 0.625vw; }

.top-button-delete {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 5vw;
	height: 3.094vw;
	margin-left: 0vw;
	margin-top: 0;
}
.top-button-delete span:nth-child(1) { font-size: 0.625vw; }

.raccours4, .raccours3, .raccours2, .raccours1 {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 4.5vw;
	height: 2.4vw;
	border-radius: 4px;
	background-color: #111111ab;
	margin-left: 0px;
	transition: all 0.1s ease;
	cursor: pointer;
}
.raccours4:hover, .raccours3:hover, .raccours2:hover, .raccours1:hover{ background: var(--active-color); }
.raccours4:active, .raccours3:active, .raccours2:active, .raccours1:active{ border-radius: 10px; background: var(--active-color); }
.raccours4 img:nth-child(1), .raccours3 img:nth-child(1), .raccours2 img:nth-child(1), .raccours1 img:nth-child(1) { width: 3.604vw; height: 3.604vw; }